@page "{rct}"

@using Microsoft.Extensions.Localization;
@using User
@using CaseManagement
@using  Fundamentals.Extensions
@inject IStringLocalizer<DetailModel> localizer

@model PaperWorks.CaseDetailModel

@{
    ViewData["Title"] = "CaseDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="caseDetailSection">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800"> @localizer[Model.CurrentOrder.CustomerRequirementDetail.ServiceDetail.DetailedDisplayInfo.DisplayName] - @Model.CurrentCase.Order.Receipt</h4>
</section>


<div class="row ">
    <div class="col-md-6">
        <div class="card  border-0 p-2 m-1 bg-primary text-white mb-3">
            <div class="card-header">
                <h5 class="lead text-center"><strong>Customer Order Details</strong></h5>
            </div>
            <div class="card-body mt-3">

                <div class="row">
                    <div class="col-md-6">
                        <h6 class="card-subtitle lead m-1">Customer Email</h6>
                        <h6 class="card-subtitle lead m-1">Customer Phone</h6>
                        <h6 class="card-subtitle lead m-1">Order Date</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="card-subtitle lead m-1">@Model.CurrentCase.Order.CustomerEmail</h6>
                        <h6 class="card-subtitle lead m-1">@Model.CurrentCase.Order.CustomerPhone</h6>
                        <h6 class="card-subtitle lead m-1">@Model.CurrentOrder.OrderPlacedOn.ToLongDateString()</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card  border-0 p-2 m-1 bg-danger text-white mb-3">
            <div class="card-header">
                <h5 class="lead text-center"><strong>CaseConsultant Details</strong></h5>
            </div>
            <div class="card-body mt-3">
                @if (string.IsNullOrEmpty(@Model.CurrentCase.Order.ConsultantEmail))
                {
                    <a asp-page="/Case/AssignCase" class="btn btn-primary btn-block" asp-route-rct="@Model.CurrentCase.Order.Receipt">Assign Consultant</a>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="card-subtitle lead m-1">Consultant Email</h6>
                            <h6 class="card-subtitle lead m-1">Consultant Phone</h6>
                            <h6 class="card-subtitle lead m-1">Expected Close Date</h6>
                        </div>
                        <div class="col-md-6">
                            <h6 class="card-subtitle lead m-1">@Model.CurrentCase.Order.ConsultantEmail</h6>
                            <h6 class="card-subtitle lead m-1">@Model.CurrentCase.Order.ConsultantPhone</h6>
                            <h6 class="card-subtitle lead m-1">@Model.CurrentCase.ExpectedCaseCloseDate?.ToLongDateString()</h6>
                        </div>
                    </div>
                    @if (User.IsFounder())
                    {

                        <a asp-page="/Case/AssignCase" class="btn btn-primary btn-block" asp-route-rct="@Model.CurrentCase.Order.Receipt">Change Consultant</a>
                    }
                }
            </div>
        </div>
    </div>
</div>




<div class="row ">
    <div class="col-md-6">
        <div class="card  border-0 p-2 m-1 bg-warning mb-3">
            <div class="card-header">
                <h5 class="lead text-center"><strong>Post An Update</strong></h5>
            </div>
            <div class="card-body">
                <form class="form" id="postUpdateForm" asp-page-handler="addupdate" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                    <div class="form-group">
                        <textarea class="form-control w-100" asp-for="@Model.UserUpdate.Comment" id="postUpdateTextForm">

                    </textarea>

                        <input type="hidden" asp-for="@Model.Receipt" />
                    </div>
                    <div class="form-group">
                        <label>Enter Consultant Email if want to share update with Consultant</label>
                        <input asp-for="@Model.UserUpdate.ConsultantEmail" placeholder="ConsultantEmail" autocomplete="off">
                    </div>
                    <button class="btn btn-success" id="postUpdateBtn">Post Update</button>

                </form>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-6">
                <div class="card  border-0 p-2 m-1 bg-info text-white mb-3">
                    <div class="card-header">
                        <h5 class="lead text-center"><strong>User Documents</strong></h5>
                    </div>
                    <div class="card-body mt-3">
                        <div class="row">
                            <form enctype="multipart/form-data" asp-page-handler="Upload" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="fileUploadcompleted">
                                <dl>
                                    <dd>
                                        <input asp-for="FileUpload.FormFiles" type="file">
                                        <span asp-validation-for="FileUpload.FormFiles"></span>
                                        <input type="hidden" asp-for="@Model.Receipt" />
                                    </dd>
                                </dl>
                                <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card  border-0 m-1 bg-secondary text-white mb-3" id="NudgePayment">
                    <div class="card-header">
                        <h5 class="lead text-center"><strong>Nudge Requests</strong></h5>
                    </div>
                    <div class="card-body mt-3">
                        <div class="row">
                            <div class="col">
                                @if (Model.InputForNudge.TypeOfNudge == NudgeType.None)
                                {
                                    <form class="form" asp-page-handler="Nudge" method="post" id="NudgeForm">
                                        <div class="form-group">

                                            <select class="text-muted" asp-for="@Model.InputForNudge.TypeOfNudge" asp-items="Html.GetEnumSelectList<NudgeType>()"></select>

                                        </div>
                                        <div class="form-group">
                                            <input asp-for="@Model.InputForNudge.NudgeAmount" class="form-control" />
                                            <input asp-for="@Model.Receipt" type="hidden" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <button class="form-control btn-sm btn btn-success" type="submit" id="NudgeBtn">Raise The Nudge</button>

                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <p class="lead  m-md-1 text-white text-center">@Model.InputForNudge.TypeOfNudge.GetDescription() Nudge is already raised  </p>
                                }
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="row ">
    <div class="col-md-6">
        <div class="card  border-0 p-2 m-1 bg-light mb-3">
            <div class="card-header">
                <h5 class="lead text-center"><strong>Case Manager Details</strong></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="card-subtitle lead m-1">Case Manager Name</h6>
                        <h6 class="card-subtitle lead m-1">Case Manager Email</h6>
                        <h6 class="card-subtitle lead m-1">Case Manager Phone</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="card-subtitle lead m-1">@Model.CaseManager.FullName</h6>
                        <h6 class="card-subtitle lead m-1">@Model.CaseManager.Email</h6>
                        <h6 class="card-subtitle lead m-1">@Model.CaseManager.PhoneNumber</h6>
                    </div>
                </div>
                @if (User.IsFounder())
                {
                    <a asp-page="/Case/ASsignCaseManager" class="btn btn-primary btn-block" asp-route-rct="@Model.Receipt">Change Case Manager</a>
                }
            </div>
        </div>
    </div>
</div>


<section id="caseDetailSection">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Case Payments</h4>
</section>
<div class="casePayInfoList mt-2">
    <partial name="_PayUpdates" model="Model.ConsultantPay" />
</div>

<section id="caseDetailSection">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Case Updates</h4>
</section>
<div class="caseUpdateList mt-2">
    <partial name="_CaseUpdates" model="Model.AllUpdates" />
</div>

<section id="caseDetailSection">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Uploaded Files</h4>
</section>

<div class="fileUpldates mt-2">
    <partial name="_UploadedFileList" model="Model.AllFileNames" />
</div>

<div class="modal fade" id="loadMe" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>Working on it<br><br><small>Hold on tight</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    @*<script type="text/javascript" language="javascript" src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#caseDetailSection").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#NudgeBtn").click(function () {

                $("#loadMe").modal('show');

                // disable button
                $(this).prop("disabled", true);
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );

                $("#NudgeForm").submit();
            });


        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#postUpdateBtn").click(function () {

                $("#loadMe").modal('show');

                setTimeout(function () {
                    $("#loadMe").modal('hide');
                }, 3500);
                // disable button
                $(this).prop("disabled", true);
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
                $(".caseUpdateList").empty();
                $("#postUpdateForm").submit();
            });


        });
    </script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                $("#postDeleteBtn").click(function () {

                    $("#loadMe").modal('show');


                    // disable button
                    $(this).prop("disabled", true);
                    // add spinner to button
                    $(this).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                    );
                    $(".caseUpdateList").empty();
                    $("#deleteForm").submit();
                });


            });
        </script>*@
    <script type="text/javascript">

        function PostDeleteFunc(count) {

            $("#loadMe").modal('show');


            // disable button
            $(this).prop("disabled", true);
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
            );
            $(".caseUpdateList").empty();
            var name = "#" + count;
            $(name).submit();
        };



    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            completed = function (xhr) {
                //
                $(".caseUpdateList").empty();
                $(".caseUpdateList").append(`${xhr.responseText}`);
                $('#caseUpdateTable').DataTable({
                    destroy: true,
                    //https://stackoverflow.com/questions/36984554/sorting-date-in-datatable
                    columnDefs: [
                        { width: '40%', targets: 0 },
                        { width: '30%', targets: 1 }
                        ,
                        { targets: 2, type: 'date-euro' }
                    ]
                    ,
                    "order": [[2, "desc"]]
                });
                $("#postUpdateBtn").prop('disabled', false);
                $("#postUpdateBtn").html("Post Update");
                $("#postUpdateTextForm").val("");
                $("#loadMe").modal('hide');

            };
        });
    </script>
    <script>

        fileUploadcompleted = function (xhr) {
            $(".fileUpldates").empty();
            $(".fileUpldates").append(`${xhr.responseText}`);
            //alert(`Wow ${xhr.responseText}, you are brave!`);
        };

    </script>
    <script src="~/dataTabless/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/dataTabless/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dataTabless/Responsive-2.2.5/js/responsive.bootstrap4.min.js"></script>
    <script src="~/dataTabless/FixedColumns-3.3.1/js/dataTables.fixedColumns.min.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YY');
            $('#caseUpdateTable').DataTable({
                columnDefs: [
                    { width: '20%', targets: 0 }
                    ,
                    { targets: 2, type: 'date-euro' }
                ]
                ,
                "order": [[2, "desc"]]
            });
        });
    </script>



}

