@page "{userEmail?}"
@using Microsoft.Extensions.Localization;
@using  Fundamentals.Unit;
@using CaseManagementSpace;
@inject IStringLocalizer<CaseListingModel> localizer
@model PaperWorks.CaseListingModel
@{
    ViewData["Title"] = "CaseListing";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

    <section id="caseListSection">
        <p>
            <a class="btn btn-primary btn-sm ml-md-3 bg-success" data-toggle="collapse" href="#multiCollapseFilterDiv" role="button" aria-expanded="false" aria-controls="multiCollapseFilterDiv" data-aos="fade-left" data-aos-delay="800">
                <i class="fa" aria-hidden="true"></i>
                Show Filter
            </a>
        </p>
        @*<h6 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">case List</h6>*@
    </section>



<div class="collapse multi-collapse bg-light" id="multiCollapseFilterDiv">
    <form class="form-inline" id="multiCollapseFilterForm" asp-page-handler="FilterCase" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="filterCompleted">
        <div class="form-group">
            <div class="input-group input-group-sm mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Receipt</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" asp-for="@Model.InputForFilters.Receipt">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm ml-3 mb-3 mt-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Type</label>
                </div>
                <select asp-for="@Model.InputForFilters.ServiceType" asp-items="Html.GetEnumSelectList<EnableServiceType>()"></select>
                @*<select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>*@
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm ml-3 mb-3 mt-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect02">Status</label>
                </div>
                <select asp-for="@Model.InputForFilters.CaseStatus" asp-items="Html.GetEnumSelectList<CaseStatus>()"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm ml-3 mb-3 mt-3">
                <input class="form-control" id="fromDate" type="date" asp-for="@Model.InputForFilters.FromDate" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm ml-3 mb-3 mt-3">
                <input class="form-control" id="toDate" type="date" asp-for="@Model.InputForFilters.ToDate" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm ml-3 mb-3 mt-3">
                <button type="submit" class="btn btn-primary btn-sm" id="FilterBtn">Apply Filter</button>
            </div>
        </div>
    </form>
</div>
<div class="caseList">
    <partial name="_CaseList" model="Model.FullCaseInfo" />
</div>
<div class="modal fade" id="loadMe" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>Working on it<br><br><small>Hold on tight</small></p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#caseListSection").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        });
    </script>
    <script src="~/dataTabless/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/dataTabless/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/dataTabless/Responsive-2.2.5/js/dataTables.responsive.min.js"></script>
    <script src="~/dataTabless/Responsive-2.2.5/js/responsive.bootstrap4.min.js"></script>
    <script src="~/dataTabless/FixedColumns-3.3.1/js/dataTables.fixedColumns.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#caseListTable').DataTable({
                //scrollY: "600px",
                //scrollX: true,
                //scrollCollapse: true,
                //paging: true,
                responsive: true,
                //columnDefs: [
                //    { width: '20%', targets: 0 }
                //],
                //fixedColumns: true,
                "rowCallback": function (row, data) {
                    if (data[10].includes("Closure")) {
                        //$('td:eq(13)', row).html('<b>A</b>');
                        $('td', row).css('background-color', 'red');
                        //$('td', row).css('background-color', 'red');
                    }
                    if (data[10].includes("Payment")) {
                        //$('td:eq(13)', row).html('<b>A</b>');
                        $('td', row).css('background-color', 'purple');
                        //$('td', row).css('background-color', 'red');
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#FilterBtn").click(function () {

                $("#loadMe").modal('show');

                //setTimeout(function () {
                //    $("#loadMe").modal('hide');
                //}, 3500);
                // disable button
                $(this).prop("disabled", true);
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
                $(".caseList").empty();
                $("#multiCollapseFilterForm").submit();
            });


        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            filterCompleted = function (xhr) {
                //

                $(".caseList").append(`${xhr.responseText}`);
                //$('#caseListTable').DataTable({
                //    destroy: true,
                //    //https://stackoverflow.com/questions/36984554/sorting-date-in-datatable
                //    columnDefs: [
                //        { width: '40%', targets: 0 },
                //        { width: '30%', targets: 1 }
                //        ,
                //        { targets: 2, type: 'date-euro' }
                //    ]
                //    ,
                //    "order": [[2, "desc"]]
                //});

                $('#caseListTable').DataTable({
                //scrollY: "600px",
                //scrollX: true,
                //scrollCollapse: true,
                    //paging: true,
                    destroy:true,
                responsive: true,
                //columnDefs: [
                //    { width: '20%', targets: 0 }
                //],
                //fixedColumns: true,
                "rowCallback": function (row, data) {
                    if (data[10].includes("Closure")) {
                        //$('td:eq(13)', row).html('<b>A</b>');
                        $('td', row).css('background-color', 'red');
                        //$('td', row).css('background-color', 'red');
                    }
                    if (data[10].includes("Payment")) {
                        //$('td:eq(13)', row).html('<b>A</b>');
                        $('td', row).css('background-color', 'purple');
                        //$('td', row).css('background-color', 'red');
                    }
                }
            });
                $("#FilterBtn").prop('disabled', false);
                $("#FilterBtn").html("Apply Filter");

                $("#loadMe").modal('hide');

            };
        });
    </script>
}

