@using CaseManagement
@model PayToConsultant


@if (Model != null && Model.PaymentReleaseInformation != null && Model.PaymentReleaseInformation.Any())
{
    <h4 id="paidSoFar" class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Paid @Model.PaymentReleaseInformation.Select(x => x.Payment).Sum() / @Model.FinalizedCost </h4>
    <table class="table table-striped table-bordered " id="payUpdatesTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    <small><strong>@Html.DisplayNameFor(model => model.PaymentReleaseInformation[0].Payment)</strong></small>
                </th>
                <th>
                    <small><strong>@Html.DisplayNameFor(model => model.PaymentReleaseInformation[0].PaymentComments)</strong></small>
                </th>
                <th>
                    <small><strong>@Html.DisplayNameFor(model => model.PaymentReleaseInformation[0].PaymentIdentifier)</strong></small>
                </th>
                <th>
                    <small><strong>@Html.DisplayNameFor(model => model.PaymentReleaseInformation[0].ReleaseOn)</strong></small>
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var payUpdate in Model.PaymentReleaseInformation)
            {
                <tr>
                    <td>
                        <small>@Html.DisplayFor(model => payUpdate.Payment)</small>
                    </td>
                    <td>
                        <small>@Html.DisplayFor(model => payUpdate.PaymentComments)</small>
                    </td>
                    <td>
                        <small>@Html.DisplayFor(model => payUpdate.PaymentIdentifier)</small>
                    </td>
                    <td>
                        <small>@Html.DisplayFor(model => payUpdate.ReleaseOn)</small>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="lead text-danger">No Payments Made So Far</h4>
                </div>
            </div>
        </div>
    </section>

}
