@page  "{userEmail?}"
@using PaperWorks
@using  Users
@model StaffManagementModel
@inject SignInManager<Clientele> SignInManager
@inject UserManager<Clientele> UserManager
@{
    ViewData["Title"] = "Staff Management";
}
<section id="registerSection">
    <div class="container mt-2">
        <h1>@ViewData["Title"]</h1>


        <div class="row">
            <div class="col">
                <form class="form-inline mt-0 3" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group ml-2">
                        <label class="mr-2">Role</label>
                        <select class="form-control mr-2" asp-for="Input.Role">
                            <option>Founder</option>
                            <option>CaseManager</option>
                            <option>Staff</option>
                            <option>Consultant</option>
                        </select>
                    </div>
                    <div class="form-group ml-2">
                        <label class="mr-2">Claims</label>
                        <input asp-for="Input.Claims" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary ml-2">Create/Update Staff</button>

                </form>
                @if (Model.StaffUser != null)
                {
                    <form class="form-inline mt-0 d-block 2" method="post" data-ajax="true" data-ajax-method="post" asp-page-handler="deleteuser">
                        <input class="form-control" type="hidden" name="Email" Id="Email" value="@Model.StaffUser.Email" />
                        <button type="submit" class="btn btn-primary ml-2">Delete Staff @Model.StaffUser.Email</button>
                    </form>
                }

            </div>
        </div>
        @if (Model.StaffUser != null)
        {
            <div class="row">
                <table class="table table-striped table-bordered dt-responsive nowrap" id="caseList" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Role
                            </th>
                            <th>
                                Edit Roles
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var role in  await UserManager.GetRolesAsync(Model.StaffUser))
                        {
                            <tr>
                                <td>
                                    @role
                                </td>
                                <td>
                                    <form class="form-inline" method="post" data-ajax="true" data-ajax-method="post" asp-page-handler="deleterole">
                                        <input class="form-control"  type="hidden" name="Email" Id="Email"  value="@Model.StaffUser.Email" />
                                        <input class="form-control"  type="hidden" value="role" id="deletetype" name="deletetype" />
                                        <input class="form-control"  type="hidden" value="@role" id="RoleValue" name="RoleValue"/>
                                        <button class="form-control btn btn-success" type="submit">Delete Role @role</button>
                                    </form>
                                    
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-striped table-bordered dt-responsive nowrap" id="caseList" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Claim Type
                            </th>
                            <th>
                                Claim Value
                            </th>
                            <th>
                                Edit Claims
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var claims in Model.StaffUser.Claims)
                        {
                        <tr>
                            <td>
                                @claims.ClaimType
                            </td>
                            <td>
                                @claims.ClaimValue
                            </td>
                            <td> 
                                <form class="form-inline" method="post" data-ajax="true" data-ajax-method="post" asp-page-handler="deleteclaim">
                                    <input class="form-control" type="hidden" name="Email" Id="Email" value="@Model.StaffUser.Email" />
                                    <input class="form-control"  type="hidden" value="claim" id="deletetype" name="deletetype"/>
                                    <input class="form-control"  type="hidden" value="@claims.ClaimType" id="ClaimType" name="ClaimType"/>
                                    <input class="form-control"  type="hidden" value="@claims.ClaimValue" id="ClaimValue" name="ClaimValue"/>
                                    <button class="form-control btn btn-success" type="submit">Delete Claim @claims.ClaimValue</button>
                                </form>
                            </td>

                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#registerSection").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        });
    </script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

